# system ignore
.DS_Store
Thumbs.db
*.orig

# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
*.factorypath

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# fable ignore
build/
/**/bin/*
!/**/bin/*.sh




